.Account {
    background-color: #a7cd2c;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.InfoAccess {
    background-color: #99cfce;
    height: 45vh;
    border:0.25rem solid #50c8c6;
    text-align: center;
    padding-top: 1rem;
}
.InfoAccount{
    background-color: #99cfce;
    height: 45vh;
    border:0.25rem solid #50c8c6;
    text-align: center;
    padding-top: 1rem;
}