.Cardtop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.Card {
    background-color:  #e1f5c4;
    padding: 1rem 0.5rem;
    display: flex;
    width: 700px;
    flex-direction: column;
    margin: 3rem;
    border-radius: 1rem;
    box-shadow:  -.25rem .5rem 2rem #a7cd2c;
}
.Card h1{
    color: black;
    text-align: center;
    padding-bottom: 1rem;
}
.Card h3{
    color: white;
    margin: auto;
}

.Card label {
    font-weight: bold;
    color: black;
}
.Card input {
    border: solid 0.15rem #a7cd2c;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    height: 1.4rem;
}
.buttonLogin {
    font-family: 'BrunoAce';
    background-color:#50c8c6;
    border-radius: 0.4rem;
    width: 13rem;
    height: 2rem;
    margin: auto;
    transition: 0.5s;
}
.buttonLogin:hover {
    background-color: aqua;
    transition: 0.5s;

}
@media only screen and (min-width: 768px) {
    .Card input, label{
        text-align: center;
        justify-content: center;
        width: 31.25rem;
        margin: auto;
        margin-bottom: 1rem;
    }
    .buttonLogin {
        width: 20rem;
    }
    .Card {
        margin:3rem auto;
        max-width: 800px;
    }
}