*{
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgb(13, 168, 13);
    color: white;

}
.header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.header p {
    text-align: center;
    padding-bottom: 0.4rem;
}