@font-face {
  font-family: "BrunoAce";
  src: url('components/fonts/BrunoAce-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'BrunoAce';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
